body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.header-title {
    font-size: 32px
    color #003366;
    text-align: center;
    margin-top: 20px;
    
}
#source-info {
    font-size: 16px;
    color: #666666;
    text-align: center;
    margin-bottom: 20px;
}
