* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner {
    height: 600px;
    width: 500px;
    border: 2px solid black;
    background-color: saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-box1 {
    height: 450px;
    width: 320px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}
.box-box2 {
    height: 200px;
    width: 150px;
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
}
.box-box3 {
    height: 220px;
    width: 150px;
    background-color: antiquewhite;
    position: absolute;
    bottom: 144px;
    left: 0;
}
.box-box4 {
    height: 130px;
    width: 150px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
}
.box-box5 {
    height: 130px;
    width: 270px;
    background-color: antiquewhite;
    position: absolute;
    bottom: 0;
    right: 50px;
}
.box-box6 {
    height: 55px;
    width: 30px;
    background-color: antiquewhite;
    position: absolute;
    bottom: 75px;
    right: 0;
}
.box-box7 {
    height: 55px;
    width: 30px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    right: 0;
}